body {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 0px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: serif;
  line-height: 1.5;
}

a {
  color: #0969da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

table {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

table th,
table td {
  padding: 6px 16px;
  border: 1px solid #e6e6e6;
}

pre,
code {
  font-family: monospace;
  background-color: #ffffdd;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

pre {
  padding: 16px;
  overflow: auto;
}

pre code {
  padding: 0;
  border: 0;
}

code {
  padding: 2px;
}

blockquote {
  color: #666666;
  margin: 0;
  padding: 0 20px;
  font-style: italic;
  border-left: thick solid #e6e6e6;
}

ol.sections {
  padding: 0;
  margin: 0;
  display: inline-block;
}

ol.sections li {
  display: inline-block;
}

ol.sections li:not(:last-child)::after {
  content: "»";
  margin-left: 5px;
  margin-right: 5px;
}

header {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

header time {
  color: #666666;
}

footer {
  margin-top: 24px;
  font-size: 0.8em;
  color: #666666;
}

main div.toc-entry {
  margin-bottom: 24px;
}

main div.toc-entry p {
  margin: 0;
}

main div.toc-entry time {
  font-size: 0.8em;
  color: #666666;
}

main div.toc-entry ol.sections::before { content: "("; }
main div.toc-entry ol.sections::after { content: ")"; }

main header h1 {
  font-size: 1.75em;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

main article h1 { font-size: 1.25em; }
main article h2 { font-size: 1.125em; }
main article h3 { font-size: 1em; }
main article h4 { font-size: 0.875em; }
main article h5 { font-size: 0.75em; }
main article h6 { font-size: 0.625em; }

main article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main article figure {
  margin: 0;
}

main article figure figcaption {
  margin-top: 4px
}

main article figure figcaption h4, main article figure figcaption p {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0;
}
